requests==2.23.0
bs4==0.0.1
pandas==1.0.3
rdflib==4.2.2
flask
flask_login
flask_migrate
flask_wtf
SPARQLWrapper
black
urllib3>=1.26.17 # not directly required, pinned by Snyk to avoid a vulnerability
