{% extends "base-site.html" %}

{% block title %} Tennis graph {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post" action="">
                    <div class="row">
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label>Insert Tennis Player</label>
                                <input name="name" type="text" class="form-control">
                                <input type="submit" class="btn btn-fill btn-primary" value="Run"></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-chart">
            <div class="card-header">
                {% if data %}
                    <h5 class="card-category"> {{ data.name }} - Wins statistics</h5>
                    <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{ data.total }}</h3>
                {% else %}
                    <h5 class="card-category">Tennis Player - Wins statistics</h5>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        var labels = {{ data.years|safe }};
        var values = {{ data.nr_cups|safe }};

        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initGraphChart(labels, values);

        });
    </script>

{% endblock javascripts %}
