    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="https://github.com/costinbusioc/Sports-Ontology" class="simple-text logo-mini">
            AWS
          </a>
          <a href="https://github.com/costinbusioc/Sports-Ontology" class="simple-text logo-normal">
            queries
          </a>
        </div>

        <ul class="nav">
            <li class="active ">
                <a href="/tennis-table-chart">
                    <i class="tim-icons icon-align-center"></i>
                    <p>Tennis - wins list</p>
                </a>
            </li>
            <li class="active ">
                <a href="/tennis-graph-chart">
                    <i class="tim-icons icon-atom"></i>
                    <p>Tennis - wins statistics</p>
                </a>
            </li>
            <li class="active ">
                <a href="/tennis-bar-chart">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Tennis - biggest opponents</p>
                </a>
            </li>
            <li class="active ">
                <a href="/soccer-table-chart">
                    <i class="tim-icons icon-align-center"></i>
                    <p>Soccer - tournament results</p>
                </a>
            </li>
            <li class="active ">
                <a href="/soccer-graph-chart">
                    <i class="tim-icons icon-atom"></i>
                    <p>Soccer - goals statistics</p>
                </a>
            </li>
            <li class="active ">
                <a href="/soccer-bar-chart">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Soccer - manager countries</p>
                </a>
            </li>
            <li class="active ">
                <a href="/sparql">
                    <i class="tim-icons icon-coins"></i>
                    <p>SPARQL</p>
                </a>
            </li>
        </ul>
      </div>
    </div>
